* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(270deg, #483535 0%, #813333 100%);
    font-family: "TW Cen MT", serif;
    color: #E8C4C4;
}

#header {
    clear: both;
    width: 98%;
    border: 1px solid rgba(255, 107, 107, 0.25);
    margin: 1%;
    text-align: center;
}

#menu {
    float: left;
    width: 18%;
    border: 1px solid rgba(255, 107, 107, 0.25);
    margin: 1%;
    min-height: 700px;
    height: 80vh;
}

#content {
    float: left;
    width: 78%;
    border: 1px solid rgba(255, 107, 107, 0.25);
    margin: 1%;
    padding-left: 1%;
    min-height: 700px;
    height: 80vh;
}

#menu,
#content {
    display: table-cell;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #ff6b6b;
}

input {
    margin: 5px 0;
    text-align: center;
}

button {
    background-color: #2f3640;
    color: #ff6b6b;
    padding: 5px;
    font-size: 100%;
    margin-right: 15px;
}

input[type=submit],
button {
    background-color: #2f3640;
    color: #ff6b6b;
    padding: 5px;
    font-size: 100%;
}

.wypelniacz {
    display: inline-block;
    justify-content: center;
    width: 100%;
    text-align: center;

}

.answers {
    width: 100%;
    display: inline-block;
    padding: 25px;
    margin-top: 20px;
    color: #E8C4C4;
    font-size: 21px;
}

span.pkt {
    padding-right: 50px;
    float: right;
}

a:link {
    color: #ff6b6b;
}

a:visited {
    color: #ff6b6b;
}

a:hover {
    color: #ffadad;
}

a:active {
    color: #ff5555;
}

/*///////////////////////////////////////////////////////



#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    
    color:#ff6b6b;
    text-align: center;
}

/*form {
    padding: 20px 50px;
    border: 1px solid rgba(255, 107, 107, 0.25);
}

form h2 {
    text-align: center;
    margin: 0;
}

input {
    margin: 10px 0;
    text-align: center;
}

input[type=submit], button {
    background-color: #2f3640;
    color: #ff6b6b;
    padding: 5px;
    font-size: 100%;
}

.wypelniacz{
    display: inline-block;
    justify-content:center;
    width: 30%;
    margin-left: calc(10%/4);
}

#loginWindow span
{
    border: 1px solid rgba(255, 107, 107, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

#questions
{
    width: 80%;
    flex-direction: column;
    color:#E8C4C4;
    font-size: 21px;
    margin-left: 10%;
    margin-top: 20px;
    
}
#questions span
{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    padding-left: 15px;   
    padding-top: 5px; 
}
#questions span.num
{
    padding-left: 0px; 
}
#questions span.pkt
{
    padding-right: 50px;
    justify-content: flex-end;
}
a:link 
{
    color: #ff6b6b;
}
a:visited 
{
    color: #ff6b6b;
}
a:hover
{
    color: #ffadad;
}
a:active
{
    color: #ff5555;
}
.answers
{
    border: 1px solid rgba(255, 107, 107, 0.25);
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
}
button
{
    margin-left: 20px;
}