* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #74b9ff; */
    background-image: linear-gradient(270deg, #483535 0%, #813333 100%);
    font-family: "TW Cen MT", serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    
    color:#ff6b6b;
    text-align: center;
}

/*form {
    padding: 20px 50px;
    border: 1px solid rgba(255, 107, 107, 0.25);
}*/

form h2 {
    text-align: center;
    margin: 0;
}

input {
    margin: 10px 0;
    text-align: center;
}

input[type=submit], button {
    background-color: #2f3640;
    color: #ff6b6b;
    padding: 5px;
    font-size: 100%;
}

.wypelniacz{
    display: inline-block;
    justify-content:center;
    width: 30%;
    margin-left: calc(10%/4);
}

#loginWindow span
{
    border: 1px solid rgba(255, 107, 107, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

#questions
{
    width: 85%;
    flex-direction: column;
    color:#E8C4C4;
    font-size: 21px;
    margin-left: 10%;
    margin-top: 20px;
    
}
#questions span
{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    padding-left: 15px;   
    padding-top: 5px; 
}
#questions span.num
{
    padding-left: 0px; 
}
#questions span.pkt
{
    padding-right: 50px;
    justify-content: flex-end;
}
a:link 
{
    color: #ff6b6b;
}
a:visited 
{
    color: #ff6b6b;
}
a:hover
{
    color: #ffadad;
}
a:active
{
    color: #ff5555;
}
.answers
{
    border: 1px solid rgba(255, 107, 107, 0.25);
    width: 80%;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
}
